html {
    background: url("pictures/Pysch.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.page {
    position: relative;
    top: 20vh;
}

.people {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.people hr {
    width: 100%;
    border: none;
}

.person {
    object-fit: cover;
    width: 250px;
    height: 250px;
    display: block;
    border-style: solid;
    border-color: white;
    margin: 0 auto;
}

.name {
    text-align: center;
    top: 5px;
    width: 100%;
    font-size: 50px;
    color: gold;
} 

.portrait {
    background-color: white;
    padding: 10px;
    width: 350px;
}

.buttons {
    text-align: center;
    margin-top: 10px;
}

#button:nth-child(2) {
    margin-left: 20px;
}